recursive-include {{ cookiecutter.python_package_name  }}/nbextension *.*
recursive-include {{ cookiecutter.python_package_name  }}/labextension *.*

graft js
graft tests

include {{ cookiecutter.npm_package_name }}.json

include LICENSE
include setup.py
include pyproject.toml
